<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" href="../../css/output.css" />
    </head>
    <body class="bg-body" style="background-color: #ffe6c9">
        <div class="bg-white mx-10 my-10 flex rounded-[34px]">
            <!-- khoi trai -->
            <div>
                <div>
                    <img
                        class="w-10 h-10 object-cover"
                        src="../../img/login.png"
                        alt=""
                    />
                    <h1>Turn your ideas into reality</h1>
                    <p>Start shopping for free and get great booksaw deals</p>
                </div>
            </div>
            <!-- khoi phai -->
            <div>
                <h1>BOOKSAW</h1>
                <!-- tieu de nho -->
                <div>
                    <h1>Login to your Account</h1>
                    <p>See what is going on with your business</p>
                </div>
                <!-- nut google -->
                <div>
                    <img src="" />
                    <p>Continue with Google</p>
                </div>
                <form action="">
                    <div>
                        <label for="email">Username</label>
                        <input type="text" name="email" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" />
                    </div>
                    <div>
                        <input type="checkbox" name="remember" />
                        <label for="remem">Remember Me</label>
                        <a href="">Forgot Password?</a>
                    </div>
                    <button name="login">Login</button>
                </form>
                <label for="sign_up">Not Registered Yet?</label>
                <a href="" name="sign_up">Create an account</a>
            </div>
        </div>
    </body>
</html>
