<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Preview</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-[#161E31]">
        <div
            class="w-[1536px] h-[864px] relative overflow-hidden rounded-[27.2px] bg-white border-[8px] border-white mx-auto transform mt-9"
            style="box-shadow: 0 0 36px 0 #e1c2a8"
        >
            <div class="w-[723.2px] h-[823.36px]">
                <div
                    class="flex flex-col justify-center items-center w-[723.2px] h-[706.33px] absolute left-0 top-0 gap-7.2"
                >
                    <div
                        class="flex flex-col justify-start items-start gap-6.4"
                    ></div>
                    <div
                        class="flex flex-col justify-start items-start h-[244.8px] gap-6.4"
                    >
                        <form class="flex flex-col gap-6">
                            <!-- email -->
                            <div class="flex flex-col relative gap-1">
                                <label
                                    for="email_signup"
                                    class="text-sm font-semibold text-[#828282]"
                                    >Email</label
                                >
                                <input
                                    type="text"
                                    name="email_signup"
                                    placeholder=" mail@abc.com"
                                    class="input-style text-black"
                                />
                            </div>
                            <!-- phone -->
                            <div class="flex flex-col relative gap-1">
                                <label
                                    for="phone_signup"
                                    class="text-sm font-semibold text-[#828282]"
                                    >Phone Number</label
                                >
                                <input
                                    type="number"
                                    placeholder="+84"
                                    name="phone_signup"
                                    class="input-style text-black"
                                />
                            </div>
                            <!-- password -->
                            <div class="flex flex-col relative gap-1">
                                <label
                                    for="password_signup"
                                    class="text-sm font-semibold text-[#828282]"
                                    >Password</label
                                >
                                <input
                                    type="password"
                                    placeholder="******************"
                                    name="password_signup"
                                    class="input-style text-black"
                                />
                            </div>
                            <!-- password again -->
                            <div
                                class="flex flex-col justify-start items-start relative gap-1"
                            >
                                <label
                                    for="password_signup_check"
                                    class="text-sm font-semibold text-left text-[#828282]"
                                >
                                    Enter The Password
                                </label>
                                <input
                                    type="password"
                                    placeholder="******************"
                                    name="password_signup_check"
                                    class="flex justify-start items-center w-[420px] relative gap-[13px] px-2.5 py-[13px] rounded-[5px] border border-[#ded2d9] text-sm text-left text-black"
                                />
                            </div>
                            <input
                                name="signup"
                                type="submit"
                                class="flex justify-center items-center w-[420px] relative gap-[13px] px-2.5 pt-[13px] pb-3 rounded-md bg-[#7f265b] text-lg font-bold text-white cursor-pointer hover:bg-black"
                                value="Sign Up"
                            />
                        </form>
                        <div class="mt-[4.5rem] ml-[3.5rem]">
                            <label class="text-lg text-left text-[#828282]">
                                You have a account?
                            </label>
                            <a
                                href=""
                                class="text-lg font-semibold text-left text-[#7f265b]"
                            >
                                Sing in here
                            </a>
                        </div>
                    </div>
                </div>
                <!-- img -->
                <div
                    class="w-[1170.79px] h-[1106.36px] absolute left-[870.5px] bg-[#161e31]"
                >
                    <div class="absolute translate-x-[48%] translate-y-[900%]">
                        <p class="text-[40px] font-bold mx-auto text-[#73114b]">
                            Turn your ideas into reality.
                        </p>
                        <p
                            class="text-[25px] font-semibold mx-auto text-[#73114b]"
                        >
                            Start shopping for free and get great booksaw deals
                        </p>
                    </div>

                    <img
                        src="../../img/sign_up.png"
                        alt=""
                        class="absolute translate-x-[30%] translate-y-[35%] w-[60%]"
                    />
                    <img src="../../img/bg-sign_up.png" alt="" class="" />
                </div>
            </div>
        </div>
    </body>
</html>
